* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


h1.shaq {
 order: 2;
 margin-left: auto;
 text-align: right;
 vertical-align: center;
 padding-top: 50px;
 padding-right: 50px;
 padding-bottom: 30px;
 height: 170px;
 width: auto;
 font-family: 'Roboto', sans-serif;
 font-size: 110px;
 font-weight: 100;
 color: white;
 -webkit-animation: fadein 10s;
 animation: fadein 10s;
}

div.menu {
 display: flex;
 margin-left: auto; 
 order:2;
 margin-top: 230px;
 margin-right: 235px;
 width: 180px;
 height: auto;
 flex-direction: column;
 justify-content: space-evenly;
 -webkit-animation: fadein 10s;
 animation: fadein 10s;
}

@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

a.nav {
 font-family: 'Roboto', sans-serif;
 margin: 10px;
 text-decoration: none;
 font-size: 30px;
 padding: 5px;
 color: white;
}

div.home, #about-landing , .home-content {
 display: flex;
 background-size: 1220px;
 width: 1450px;
 height: 780px;
 padding: 0;
 margin: 0;
 padding-left: 100px;
}

div.home {
 order: 2;
 display: flex;
 background-image: url("./images/background.jpg");
 padding: 0px;
 flex-direction: column;
 align-self: flex-end;
}

div.header {
 order: 1;
}

div.home-content {
 background-image: url("./images/home2.jpg");
}

#about-landing {
 background-image: url("./images/home2.jpg");
 background-size: 1450px;
 flex-direction: column;
 align-content: space-between;
}

p#about-text {
 order: 2;
 font-family: 'Poiret One';
 color:black;
 background-color: white;
 height: auto;
 width: 400px;
 text-align: center;
 margin-top: 40px;
 margin-left: 70px;
 padding: 10px;
}

div.about-content {
 -webkit-animation: fadein 4s;
 animation: fadein 4s;
 height: 900px;
 width: 1450px;
}

h1.about-title {
 order: 1;
 font-family: 'Unica One';
 font-size: 3em;
 color: rgb(252, 252, 252);
 margin-top: 200px;
 margin-left: 50px;
}

/** FOOTER **/


footer {
 -webkit-animation: fadein 10s;
 animation: fadein 10s;
 margin-top: auto;
 order: 3;
 margin-right: 290px;
 margin-left: auto;
 margin-bottom: 60px;
}

.fa {
 color: white;
 opacity: 0.6;
 padding: 20px;
 font-size: 30px;
 width: 20px;
 height: 20px;
 text-align: center;
 text-decoration: none;
 border-radius: 15px;
}

.fa:hover {
 opacity: 1;
}
