* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


h1.shaq {
 order: 2;
 margin-left: auto;
 text-align: right;
 vertical-align: center;
 padding-top: 50px;
 padding-right: 20px;
 padding-bottom: 30px;
 height: 170px;
 width: auto;
 font-family: 'Alegreya Sans SC';
 font-size: 100px;
 color: white;
 opacity: 0.6;
 /* background-color: black;  */
}

div.menu {
 display: flex;
 margin-left: auto; 
 margin-right: 160px;
 order:2;
 padding: 20px;
 width: 250px;
 height: 350px;
 opacity: 0.6;
 flex-direction: column;
 justify-content: space-evenly;
}

a.nav {
 font-family: 'Unica One';
 text-decoration: none;
 font-size: 50px;
 padding: 5px;
 height: 40px;
 color: white;
}

div.home, #about-landing , .home-content {
 display: flex;
 background-size: 1220px;
 width: 1450px;
 height: 780px;
 padding: 0;
 margin: 0;
 padding-left: 100px;
}

div.home {
 order: 2;
 display: flex;
 background-image: url("./images/Shaq2.jpg");
 padding: 0px;
 flex-direction: column;
 align-self: flex-end;
}

div.header {
 order: 1;
}

div.home-content {
 background-image: url("./images/home2.jpg");
}

#about-landing {
 background-image: url("./images/home2.jpg");
 background-size: 1450px;
 flex-direction: column;
 align-content: space-between;
}

p#about-text {
 order: 2;
 font-family: 'Unica One';
 color:black;
 background-color: white;
 opacity: 0.6;
 height: auto;
 width: 400px;
 text-align: center;
 margin-top: 40px;
 margin-left: 70px;
 padding: 10px;
}

div.about-content {
 background: linear-gradient(rgb(11, 16, 12) 50%, rgb(33, 33, 33));
 height: 900px;
 width: 1450px;
}

h1.about-title {
 order: 1;
 font-family: 'Poiret One';
 font-size: 3em;
 color: rgb(252, 252, 252);
 margin-top: 200px;
 margin-left: 50px;
 opacity: 0.6;
}

/** FOOTER **/


footer {
 margin-top: auto;
 order: 3;
 margin-right: 250px;
 margin-left: auto;
 margin-bottom: 60px;
}

.fa {
 color: white;
 opacity: 0.6;
 padding: 20px;
 font-size: 30px;
 width: 20px;
 height: 20px;
 text-align: center;
 text-decoration: none;
 border-radius: 15px;
}

.fa:hover {
 opacity: 1;
}
