* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: helvetica;
}

h1 {
 color: blue;
}

div.about-landing {
 background-image: url("about.jpg");
 background-size: 1220px;
 width: 1450px;
 height: 780px;
 padding: 0;
 margin: 0;
}

div.about-content {
 background: linear-gradient(rgb(11, 16, 12) 50%, rgb(33, 33, 33));
 height: 900px;
 width: 1450px;
}

h1.about-title {
 float: left;
 font-family: 'Poiret One';
 font-size: 3em;
 color: rgb(252, 252, 252);
 margin-top: 200px;
 margin-left: 50px;
 opacity: 0.6;
}